<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class = "topBlock">
        <div id = "chessboard"></div>
        <div id = "DebugData">
            moveGenerationTime: <span id = "moveGenerationTime"></span>
        </div>
    </div>

    <select id="pieceStyleDropDown">
        <option value="classic">classic</option>
        <option value="thumbsup">Thumbs Up Gang</option>
        <option value="shadow">Classic Shadow</option>
        <option value="audi">None/option>
    </select>

    <input type="text" id="FEN" placeholder="Enter FEN here">
    <button id="submitFEN">Submit FEN</button>  
    <button id="resetFEN">Reset FEN</button>

    <div id = "checkmate"></div>

    <script src="../static/script.js"></script>

</body>
</html>